@media (max-width: 900px) {
	nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        backdrop-filter: blur(20px); 
        height: 10rem;
        border-bottom: 0.2rem solid transparent;
        border-image: linear-gradient(0.25turn, rgba(56,2,155,0), #fff, rgba(56,2,155,0));
        border-image-slice: 1;
        padding: 0 2rem;
    }
    nav h1{
        width: 25%;
    }
    nav h1 img{
        height: 5rem;
    }
    nav h2{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: "Play", sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 3rem;
        font-size: 3rem;
    }
    nav h2 span{
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
    }
    
    nav div{
        width: 25%;
        display: flex;
        justify-content: end;
        gap: 2rem;
    }
  }