@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px); 
    height: 9rem;
    border-bottom: 0.2rem solid transparent;
    border-image: linear-gradient(0.25turn, rgba(56,2,155,0), #fff, rgba(56,2,155,0));
    border-image-slice: 1;
    padding: 0 2rem;
}

nav h2{
    display: inline-block;
    text-align: center;
    font-family: "Anta", sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
}
nav h2 span{
    font-size: 1rem;
}