nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    background: transparent;
    backdrop-filter: blur(10px);
    border-bottom: 0.1rem solid #ffffff;
    margin: 0 2rem;
}