nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px); 
    height: 7rem;
    border-bottom: 0.1rem solid transparent;
    border-image: linear-gradient(0.25turn, rgba(56,2,155,0), rgba(255,0,128), rgba(56,2,155,0));
    border-image-slice: 1;
    padding: 0 2rem;
}