




.bouncing-blob {
	width: 32vw;
	aspect-ratio: 1;
	border-radius: 50%;
	will-change: transform;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	transform-origin: left top;
  }
  
  .bouncing-blob--blue {
	background: #4783c7;
  }
  
  .bouncing-blob--white {
	background: #ffffff;
	z-index: 2;
	width: 15vw;
  }
  
  .bouncing-blob--purple {
	background: #8c8ff1;
  }
  
  .bouncing-blob--pink {
	background: #e289cd50;
  }
  
  .bouncing-blobs-container {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
  
  .bouncing-blobs-glass {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(140px);
	-webkit-backdrop-filter: blur(140px);
	pointer-events: none;
  }
  
  .bouncing-blobs {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
  
  .main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
  }
  
  
  
  
  @media (max-width: 1200px) {
	.bouncing-blobs-glass {
	  backdrop-filter: blur(120px);
	  -webkit-backdrop-filter: blur(120px);
	}
  }
  
  @media (max-width: 500px) {
	.bouncing-blob {
	  width: 60vw;
	}
	.bouncing-blob--white {
	  width: 30vw;
	}
	.bouncing-blobs-glass {
	  backdrop-filter: blur(90px);
	  -webkit-backdrop-filter: blur(90px);
	}
  
  }







/* header.jsx */
nav.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px); 
    height: 12rem;
    border-bottom: 0.2rem solid transparent;
    border-image: linear-gradient(0.25turn, rgba(56,2,155,0), #ffffff41, rgba(56,2,155,0));
    border-image-slice: 1;
    padding: 0 2rem;
}
nav.main-nav h1{
    width: 25%;
}
nav.main-nav h1 img{
    height: 5rem;
}

nav.main-nav h2{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 1rem;
    line-height: 3rem;
    font-size: 3rem;
}
nav.main-nav h2 span{
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

nav.main-nav div{
    width: 25%;
    display: flex;
    justify-content: end;
    gap: 2rem;
}
nav.main-nav div a{
    color: #0f172a;
    text-decoration: none;
    display: flex;
    align-items: end;
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    padding-bottom: 1rem;
    border: 0.1rem solid #525252;
    border-radius: 0.7rem;
    background: transparent;
    cursor: pointer;
}
nav.main-nav div a .mynaui--arrow-up-right {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6.5 17.5l11-11m0 0h-9m9 0v9'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
nav.main-nav div a .ph--webhooks-logo {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23000' d='M178.16 184h-66.84a48 48 0 1 1-85.72-36.81a8 8 0 0 1 12.8 9.61A31.69 31.69 0 0 0 32 176a32 32 0 0 0 64 0a8 8 0 0 1 8-8h74.16a16 16 0 1 1 0 16M64 192a16 16 0 0 0 14.08-23.61l35.77-58.14a8 8 0 0 0-2.62-11a32 32 0 1 1 46.1-40.06a8 8 0 1 0 14.67-6.4a48 48 0 1 0-75.62 55.33L64.44 160H64a16 16 0 0 0 0 32m128-64a48.18 48.18 0 0 0-18 3.49L142.08 79.6A16 16 0 1 0 128 88h.44l35.78 58.15a8 8 0 0 0 11 2.61A32 32 0 1 1 192 208a8 8 0 0 0 0 16a48 48 0 0 0 0-96'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

nav.main-nav div a:nth-child(2){
    background: #0f172a;
    border-color: #0f172a;
    color: #fff;
    align-items: center;
}
nav.main-nav div a:hover {
    text-decoration: underline;
}


.main-sec{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 5rem 2rem;
  font-size: 1.7rem;
}
.main-sec .comps{
  padding: 1rem 2rem;
  line-height: 2.5rem;
  width: calc(25% - 1.5rem);
  background: linear-gradient(to bottom left, #ffffff19, transparent);
  border-radius: 1rem;
  border: .2rem solid #ffffff41;
}
.main-sec .comps .comps-h{
  margin-bottom: 1rem;
}
.main-sec .comps .comps-h span{
  font-weight: 400;
}
.main-sec .comps ul{
  margin: 0 1.7rem;
}
.main-sec .comps ul li::marker{
  color: #202020;
}
.main-sec .comps ul li a{
  text-decoration: none;
  color: #202020;
}
.main-sec .comps ul li a:hover{
  text-decoration: underline;
  color: #000;
}


.footer{
  width: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(20px); 
  border-top: 0.2rem solid transparent;
  border-image: linear-gradient(0.25turn, rgba(56,2,155,0), #ffffff41, rgba(56,2,155,0));
  border-image-slice: 1;
}

.footer .footer-row {
  display: flex;
  gap: 1rem;
}
.footer .footer-row img{
  height: 5rem;
}
.footer-row .social-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-row .social-btn a{
  text-decoration: none;
  font-size: 2.3rem;
  color: #202020;
}
.footer-row .social-btn a:hover{
  color: #696969;
}
.footer-row  .social-btn .codicon--github {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 0a12 12 0 1 0 0 24a12 12 0 0 0 0-24m3.163 21.783h-.093a.513.513 0 0 1-.382-.14a.513.513 0 0 1-.14-.372v-1.406c.006-.467.01-.94.01-1.416a3.693 3.693 0 0 0-.151-1.028a1.832 1.832 0 0 0-.542-.875a8.014 8.014 0 0 0 2.038-.471a4.051 4.051 0 0 0 1.466-.964c.407-.427.71-.943.885-1.506a6.77 6.77 0 0 0 .3-2.13a4.138 4.138 0 0 0-.26-1.476a3.892 3.892 0 0 0-.795-1.284a2.81 2.81 0 0 0 .162-.582c.033-.2.05-.402.05-.604c0-.26-.03-.52-.09-.773a5.309 5.309 0 0 0-.221-.763a.293.293 0 0 0-.111-.02h-.11c-.23.002-.456.04-.674.111a5.34 5.34 0 0 0-.703.26a6.503 6.503 0 0 0-.661.343c-.215.127-.405.249-.573.362a9.578 9.578 0 0 0-5.143 0a13.507 13.507 0 0 0-.572-.362a6.022 6.022 0 0 0-.672-.342a4.516 4.516 0 0 0-.705-.261a2.203 2.203 0 0 0-.662-.111h-.11a.29.29 0 0 0-.11.02a5.844 5.844 0 0 0-.23.763c-.054.254-.08.513-.081.773c0 .202.017.404.051.604c.033.199.086.394.16.582A3.888 3.888 0 0 0 5.702 10a4.142 4.142 0 0 0-.263 1.476a6.871 6.871 0 0 0 .292 2.12c.181.563.483 1.08.884 1.516c.415.422.915.75 1.466.964c.653.25 1.337.41 2.033.476a1.828 1.828 0 0 0-.452.633a2.99 2.99 0 0 0-.2.744a2.754 2.754 0 0 1-1.175.27a1.788 1.788 0 0 1-1.065-.3a2.904 2.904 0 0 1-.752-.824a3.1 3.1 0 0 0-.292-.382a2.693 2.693 0 0 0-.372-.343a1.841 1.841 0 0 0-.432-.24a1.2 1.2 0 0 0-.481-.101c-.04.001-.08.005-.12.01a.649.649 0 0 0-.162.02a.408.408 0 0 0-.13.06a.116.116 0 0 0-.06.1a.33.33 0 0 0 .14.242c.093.074.17.131.232.171l.03.021c.133.103.261.214.382.333c.112.098.213.209.3.33c.09.119.168.246.231.381c.073.134.15.288.231.463c.188.474.522.875.954 1.145c.453.243.961.364 1.476.351c.174 0 .349-.01.522-.03c.172-.028.343-.057.515-.091v1.743a.5.5 0 0 1-.533.521h-.062a10.286 10.286 0 1 1 6.324 0z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.footer-row  .social-btn .ri--instagram-line {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12.001 9a3 3 0 1 0 0 6a3 3 0 0 0 0-6m0-2a5 5 0 1 1 0 10a5 5 0 0 1 0-10m6.5-.25a1.25 1.25 0 0 1-2.5 0a1.25 1.25 0 0 1 2.5 0M12.001 4c-2.474 0-2.878.007-4.029.058c-.784.037-1.31.142-1.798.332a2.886 2.886 0 0 0-1.08.703a2.89 2.89 0 0 0-.704 1.08c-.19.49-.295 1.015-.331 1.798C4.007 9.075 4 9.461 4 12c0 2.475.007 2.878.058 4.029c.037.783.142 1.31.331 1.797c.17.435.37.748.702 1.08c.337.336.65.537 1.08.703c.494.191 1.02.297 1.8.333C9.075 19.994 9.461 20 12 20c2.475 0 2.878-.007 4.029-.058c.782-.037 1.308-.142 1.797-.331a2.91 2.91 0 0 0 1.08-.703c.337-.336.538-.649.704-1.08c.19-.492.296-1.018.332-1.8c.052-1.103.058-1.49.058-4.028c0-2.474-.007-2.878-.058-4.029c-.037-.782-.143-1.31-.332-1.798a2.912 2.912 0 0 0-.703-1.08a2.884 2.884 0 0 0-1.08-.704c-.49-.19-1.016-.295-1.798-.331C14.926 4.006 14.54 4 12 4m0-2c2.717 0 3.056.01 4.123.06c1.064.05 1.79.217 2.427.465c.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428c.047 1.066.06 1.405.06 4.122c0 2.717-.01 3.056-.06 4.122c-.05 1.065-.218 1.79-.465 2.428a4.884 4.884 0 0 1-1.153 1.772a4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.427.465c-1.067.047-1.406.06-4.123.06c-2.717 0-3.056-.01-4.123-.06c-1.064-.05-1.789-.218-2.427-.465a4.89 4.89 0 0 1-1.772-1.153a4.905 4.905 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.012 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122c.05-1.065.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.637-.248 1.362-.415 2.427-.465C8.945 2.013 9.284 2 12.001 2'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.footer .rights{
  margin-top: 2rem;
  font-size: 1.5rem;
}

.footer .footer-links{
  margin-top: 4rem;
  display: flex;
  gap: 1.5rem;
}
.footer .footer-links a{
  color: #202020;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}
.footer .footer-links a:nth-child(2){
  border-left: .2rem solid #ffffff49;
  cursor: default;
}